<template>
  <div>
    <section class="section is-top-paddingless">
      <div class="container">
        <b-tabs type="is-boxed" position="is-centered" @input="tabChanged">
          <b-tab-item label="Write" icon="pencil" value="editor">
            editor component here
          </b-tab-item>
          <b-tab-item label="Preview" icon="book-open-page-variant" value="preview">
            preview component here
          </b-tab-item>
        </b-tabs>
      </div>
    </section>
  </div>
</template>

<script>
import ulog from 'ulog'

const logger = ulog(`${LOG_PREFIX} pages/index`)

export default {
  name: 'HomePage',

  components: {
  },

  async asyncData (context) {
      await createSnippetBook(context)
  },

  methods: {
    async tabChanged (value) {
      if (value === 'editor') {
        // nothing
      } else if (value === 'preview') {
        // nothing
      }
    }
  }
}

async function createSnippetBook (context) {
  logger('Creating new snippet book')
  let bookId, documentId;
  ({ bookId, documentId } = await context.store
    .dispatch('book/createAndSetSnippetBook', null, { root: true }))
}
</script>
